# Python
*.pyc
__pycache__/
*.py[cod]
*$py.class

# Virtual Environment
venv/
env/
ENV/

# Django
*.log
db.sqlite3
media/
staticfiles/
.cursorrules

# IDE
.vscode/
.idea/

# Environment variables
.env