# Python
*.pyc
__pycache__/
*.py[cod]
*$py.class

# Virtual Environment
venv/
env/
ENV/

#Files
MINDMAP.md

# Django
*.log
db.sqlite3
media/
staticfiles/


# IDE
.vscode/
.idea/

# Environment variables
.env
node_modules/
dist/
frontend/node_modules/
frontend/dist/
.vite/

# test file
payload.json
